# PostgreSQL DB settings
POSTGRES_DB=hotdesk
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# PgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@hotdesk.io
PGADMIN_DEFAULT_PASSWORD=admin

# Application Settings
APP_DEBUG=true
